﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFD_SaveTheEnvironment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteConnect.css" />
</head>
<body>
    <header>
        @{
            string userRole = Context.Session.GetString("Role");
            if (userRole != null)
            {
                if (userRole == "User")
                {
                    @await Html.PartialAsync("_ConnectUserNavbar.cshtml")
                }
            }
            else
            {
                @await Html.PartialAsync("_PublicNavbar.cshtml")
            }
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
