﻿


<nav class="navbar navbar-expand-md bg-success navbar-dark navbar-fixed-top dark-theme||light-theme">
    <a class="navbar-brand" href="~/Home/Index" style=" color:#3399FF;">
        <img src="~/images/logo.png" alt="Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="publicNavbar">
        <!--
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Read/Index">Materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Comments/Index">Discussion Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Read/Organizations">Connect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Entertainment/Index">Games</a>
            </li>
        </ul>
            -->
        @*<h1 class="ml-5"> There is only one Earth </h1>*@

        <ul class="navbar-nav ml-auto">



            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="~/Read/Index">Materials</a>
                    <a class="dropdown-item" href="~/Entertainment/Index">Games</a>
                </div>
            </li>

            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Community
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="~/Read/Organizations">Connect</a>
                    <a class="dropdown-item" href="~/Comments/Index">Discussion Board</a>
                </div>
            </li>

            <li class="nav-item mr-2">
                <a class="btn-toggle nav-link text-light" onclick="darkmode()">Toggle Dark Mode</a>
            </li>

            <li class="nav-item">
                <!-- A link for logging in user -->
                <a class="nav-link text-light" href="~/Home/LoginPage">Login</a>
            </li>
        </ul>
    </div>
</nav>