﻿<nav class="navbar navbar-expand-md bg-success navbar-dark navbar-fixed-top">
    <a class="navbar-brand" href="~/Home/Index" style=" color:#3399FF;">
        <img src="~/images/logo.png" alt="Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="publicNavbar">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="~/Read/Index">Materials</a>
                    <a class="dropdown-item" href="~/Entertainment/Index">Games</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Community
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="~/Connect/HostOrVolunteerView">Connect</a>
                    <a class="dropdown-item" href="~/Comments/Index">Discussion Board</a>
                    <a class="dropdown-item" href="~/Challenge/Index">Challenge</a>
                </div>
            </li>

            <li class="nav-item mr-2">
                <a class="btn-toggle nav-link text-light" onclick="darkmode()">Toggle Dark Mode</a>
            </li>

            <li class="nav-item mr-2">
                <a class="nav-link text-light" href="~/User/Details">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Home/userLogOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>