﻿
@{
    ViewData["Title"] = "Learning Material - Electronics";
}

<!DOCTYPE HTML>
<html style="scroll-behavior:smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <img src="~/images/eWaste.jpg" style="height:60vh; width=70vh" class="mt-3" />
    <br />
    <p style="font-size:8px">Image Source : <a>https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.greenmatters.com%2Fp%2Fwhat-emissions-do-cars-produce&psig=AOvVaw1Fm5u9p1XyUtx6lYyAEcyz&ust=1636566268444000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDtg-Hqi_QCFQAAAAAdAAAAABAD</a></p>

    <div>
        <h2>The 5 best and worst Electronic companies for the environment</h2><hr />
        <h5>Bad</h5><br />
        <a href="#amazon">1. Amazon </a><br />
        <a href="#samsung">2. Samsung</a><br />
        <a href="#vivo">3. Vivo</a><br />
        <a href="#xiaomi">4. Xiaomi</a><br />
        <a href="#apple">5. Apple</a><br /><br />
        <hr />
        <h5>Good</h5><br />
        <a href="#fp">1. Fairphone</a><br />
        <a href="#oppo">2. Oppo</a><br />
        <a href="#huawei">3. Huawei</a><br />
        <a href="#asus">4. Asus</a><br />
        <a href="#dell">5. Dell</a><br />
        <hr />
    </div>

    <br />

    <h2>Environmentally Unsustainable</h2>

    <div id="amazon">
        <h3>1. Amazon</h3>
        <p style="width:60%">
            Amazon ranked 127th out of 145 companies in a ranking by non-profit group 'Climate Counts'
            They refuse to disclose their greenhouse gas emissions, or give a climate strategy to the 'Carbon Disclosure Project'
            They were given an 'F' in 3 of the 4 categories in Greenpeace's report 'How clean is your Cloud?'
            Amazon does not offer 'take-backs' of its own electronic waste.
        </p>
        <a href="https://www.theguardian.com/sustainable-business/amazon" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="samsung">
        <h3>2. Samsung</h3>
        <p style="width:60%">
            Samsung’s chip plants emitted 12.9 million tons of CO2 equivalents in 2020, making it the second-biggest carbon emitter in the semiconductor industry.
            Samsung also has not announced a net-zero target, despite the growing demands from consumers, and trend among tech companies.
        </p>
        <a href="https://www.cnbc.com/2021/11/03/tsmc-samsung-and-intel-have-a-huge-carbon-footprint.html#:~:text=Samsung's%20chip%20plants%20emitted%2012.9,emitter%20in%20the%20semiconductor%20industry." target="_blank">Link to source</a>
    </div>
    <br />

    <div id="vivo">
        <h3>3. Vivo</h3>
        <p style="width:60%">
            They were given an 'F' in all 3 categories in Greenpeace's report 'GREENPEACE GUIDE TO GREENER ELECTRONICS – 2017 COMPANY REPORT CARD'
            They are also very opaque with their business processes, releasing close to nothing to the public.
        </p>
        <a href="https://www.greenpeace.org/usa/wp-content/uploads/2017/10/GGE2017_Vivo.pdf" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="xiaomi">
        <h3>4. Xiaomi</h3>
        <p style="width:60%">
            Xiaomi is another company that scored an F in the Greenpeace report 'GREENPEACE GUIDE TO GREENER ELECTRONICS – 2017 COMPANY REPORT CARD', with an F in all 3 categories.
            Furthermore since then they have not been transparent, and only recently, in 2021 did they release a sustainability report. Even then, the sustainability report only stated a decrease in plastic usage in their packaging. Overall, Xiaomi is working to be more environmentally concious, but they are not there yet, and so it might be better to hold off on purchasing products from them just yet.
        </p>
        <a href="https://www.greenpeace.org/usa/wp-content/uploads/2017/10/GGE2017_Xiaomi.pdf" target="_blank">Link to source</a>,
        <a href="https://mobile-magazine.com/technology-and-ai/xiaomi-releases-first-ever-sustainability-report" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="apple">
        <h3>5. Apple</h3>
        <p style="width:60%">
            While apple is indeed putting in a lot of efforts to make their products seem environmentally friendly, they are just greenwashing their prooducts as they purposefully avoid the elephant in the room, the fact that their products have flagrantly built in redundancy. They stop supporting models after around 4 years, preventing them from updating to the latest operating system, eventually making the products unusable. They also haave a lot of unethical practices to lean customers towards buying new products instead of repairing damages, including preventing self-repair and fighting against right to repair laws until Nov 2021, when right to repair legislation was put in place in america. From this it is apparent how resistant apple is to making their products accessible, so desppite them finally providing official individual parts for sale, you should still be wary of apple products.
        </p>
        <a href="https://youtu.be/8s7NmMl_-yg/" target="_blank">Link to source</a>
    </div>
    <br />

    <h2>Environmentally Friendly</h2>

    <div id="fp">
        <h3 class="justify">1.Fairphone</h3>
        <p style="width:60%">
            They make their phones out of sustainably sourced materials such as Fairtrade-certified gold, recycled tin, and conflict-free and fairly made tungsten, with their fairphone 3 being the first ever phone to be built with Fairtrade certified gold. Furthermore, they use 100% recycled plastics for their backplates. Their phones are also modular, with parts being easily ascessible to make repair as easy as possible, so as to promote repair over replacement, with fairphone 2, 3 and 4 getting the only perfect 10 scores from ifixit in terms or repairability. fairphone also runs a recycling programme, which recycles e-waste for every phone that the company sells.
        </p>
        <a href="https://www.theverge.com/22716194/fairphone-4-review" target="_blank">Link to source</a>
        <a href="https://www.ifixit.com/News/55818/fairphone-4-teardown-if-only-apple-made-phones-like-this" target="_blank">Link to source</a>

    </div>
    <br />

    <div id="oppo">
        <h3>2. Oppo</h3>
        <p style="width:60%">
            Oppo is working to be more sustainable, with the amount they recycled by weight increasing 13 fold from 2019 to 2020. They also recycled plastic worthx 35% of the plastic materials contained in their smartphones. The company also achieved a 42.7% reduction in general waste and a 20% reduction in indirect greenhouse gas emissions in 2020. 
        </p>
        <a href="https://www.itp.net/business/97461-oppo-highlights-sustainability-efforts" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="huawei">
        <h3>3. Huawei</h3>
        <p style="width:60%">
            At Huawei has been contributing to Environmental protection. In 2019, they increased their main products' energy efficiency by 22%, cut CO2 emissions intensity by 32.7%, recycled 86% of their returned products, and used 1.25 billion kWh of clean energy, reducing emissions by 570,000 tons. They also set two 2025 targets, which include reduce their carbon emissions per unit of sales by 16%, and increasing the energy efficiency of our main products by 2.7%.
        </p>
        <a href="https://www.dutchnews.nl/features/2021/02/huawei-is-firmly-committed-to-the-european-green-deal/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="asus">
        <h3>4. Asus</h3>
        <p style="width:60%">
            ASUS is the first company in Taiwan to win the award for Asia’s Most Socially Responsible Company. Furthermore, ASUS has achieved success through strong integration of sustainable practices into the company’s business operations.
        </p>
        <a href="https://www.asusbusiness.com/asus-is-the-first-company-in-taiwan-to-win-the-award-for-asias-most-socially-responsible-company/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="dell">
        <h3>5. Dell</h3>
        <p style="width:60%">
            Dell pledges to achieve carbon neutrality by 2050 across its complete supply chain, which they aim to achieve without purchasing carbon offsets. They have also reduced their greenhouse gas emissions by 26% since their 2020 baseline. Dell is also working towards a sustainable business model that minimizes waste and maximizes resources by keeping them circling through the economy, already having used over 27 million pounds of sustainable materials in its products and packaging. They have also stepped up their use of reclaimed carbon fiber from aerospace applications, introduced bioplastics and deployed a pilot program for closed-loop aluminum, where they recycle the aluminum from old drives to build “new” base plates for new hard disk drives.
        </p>
        <a href="https://www.forbes.com/sites/patrickmoorhead/2021/07/22/dell-technologies-shares-environmental-sustainability-report-card/?sh=565d74177cae" target="_blank">Link to source</a>
    </div>
    <br />

    <h2>What Can You Do?</h2>
    <div id="you">
        <h3>You Can</h3>
        <p style="width:60%">
            You should not regularly change your devices, instead of buying one every time a new model comes out, hold on to your current model until it no longer works.
            If your devices get damaged, instead of replacing it, consider getting it repaired.
            If you use apple, lobby for right to repair to stop Apple from performing shady practices such as linking parts to only a single device.
            If you need to but new electronics, only buy sustainable products. You cn check if a product is sustainable from the <a href="https://www.epeat.net/" target="_blank">Electronic Product Environmental Assessment Tool(EPEAT)</a>.
        </p>
    </div>
    <br />

    <a href="#top">Go back to top</a>
</body>

</html>

