﻿@{
    ViewData["Title"] = "Materials";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br />
    <h1 class="text-center font-weight-bold">Materials</h1>
    <hr />
    <h3 class="text-center">Environmental Impact of Industries</h3>
    <hr />
    <br />

    <div class="row content">
        <a href="~/Read/Cars/">
            <img src="~/images/car.jpg" alt="Automobile" height="250" class="rounded-lg">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Cars</h3>
            <br />
            <p>
                Read more on how Cars impact the Environment
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Cars/">Read</a>
            </div>
        </div>
    </div>
    <hr />
    <br />

    <div class="row content">
        <a href="~/Read/Fashion/">
            <img src="~/images/fashion.jpeg" alt="Fashion" height="250" class="rounded-lg">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Fashion</h3>
            <br />
            <p>
                Read more on how Fashion impact the Environment
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Fashion/">Read</a>
            </div>
        </div>
    </div>
    <hr />
    <br />

    <div class="row content">
        <a href="~/Read/Electronics/">
            <img src="~/images/electronics.jpeg" alt="Electronics" height="250" class="rounded-lg">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Electronics</h3>
            <br />
            <p>
                Read more on how Electronics impact the Environment
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Electronics/">Read</a>
            </div>
        </div>
    </div>
    <hr />
    <br />

    <div class="row content">
        <a href="~/Read/FoodandBeverages/">
            <img src="~/images/food&beverages.jpg" alt="FoodandBeverages" height="250" class="rounded-lg">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Food & Beverages</h3>
            <br />
            <p>
                Read more on how Food & Beverages impact the Environment
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/FoodandBeverages/">Read</a>
            </div>
        </div>
    </div>
    <hr />
    <br />

    <div class="row content">
        <a href="~/Read/Energy/">
            <img src="~/images/energy.jpg" alt="Energy" height="250" class="rounded-lg">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Energy</h3>
            <br />
            <p>
                Read more on how Different Energy sources impact the Environment
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Energy/">Read</a>
            </div>
        </div>
    </div>

    <!--<div class="container d-flex flex-wrap text-center">
        <div class="card col-5 m-3">
            <div class="container">
                <a href="~/Read/Cars/" style="text-decoration:none">
                    <img src="~/images/car.jpg" alt="Automobile" style="width:100%">-->
    @*https://media.autoexpress.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1597836660/autoexpress/2020/08/Porsche%20Taycan-19.jpg*@
    <!--<h4><b>Cars</b></h4>
            </a>
        </div>
    </div>
    <div class="card  col-5 m-3">
        <div class="container">
            <a href="~/Read/FoodandBeverages" style="text-decoration:none">
                <img src="~/images/food&beverages.jpg" alt="Food & Beverages" style="width:100%">-->
    @* https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/styles/1200x706/public/content11850.jpg?itok=5eeWvkks *@
    <!--<h4><b>Food & Beverages</b></h4>
            </a>
        </div>
    </div>
    <div class="card  col-5 m-3">
        <div class="container">
            <a href="~/Read/Fashion" style="text-decoration:none">
                <img src="~/images/fashion.jpeg" alt="Fashion" style="width:100%">-->
    @*https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500*@
    <!--<h4><b>Fashion</b></h4>
            </a>
        </div>
    </div>
    <div class="card col-5 m-3">
        <div class="container">
            <a href="~/Read/Electronics" style="text-decoration:none">
                <img src="~/images/electronics.jpeg" alt="Electronics" style="width:100%">-->
    @*https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500*@
    <!--<h4><b>Electronics</b></h4>
                </a>
            </div>
        </div>
    </div>-->
    <hr />
    <h4 class="text-center">Want to test your knowledge on the Material?</h4>
    <br />
    <div>
        <a data-quiz="Q4A2XZH4C" data-type=5 h3ref="https://www.quiz-maker.com/Q4A2XZH4C" class="btn btn-success text-white rounded-pill mr-2" ;style="display:inline-block; text-align:upper right; margin:0 auto; width:100%; max-width:824px; box-sizing:border-box; text-decoration:none; padding:1em; border:1px solid #CCC; color:inherit;"><font-family:sans-serif; line-height:30px; color:inherit;">Take a quiz
    </div></a>
    <script>
        (function (i, s, o, g, r, a, m) {
            var ql = document.querySelectorAll('A[quiz],DIV[quiz],A[data-quiz],DIV[data-quiz]');
            if (ql) { if (ql.length) { for (var k = 0; k < ql.length; k++) { ql[k].id = 'quiz-embed-' + k; ql[k].href = "javascript:var i=document.getElementById('quiz-embed-" + k + "');try{qz.startQuiz(i)}catch(e){i.start=1;i.style.cursor='wait';i.style.opacity='0.5'};void(0);" } } }; i['QP'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//cdn.poll-maker.com/quiz-embed-v1.js', 'qp');
    </script>
    <br />
    <hr />
    <br />
    <h3>New York Time Articles<small class="text-muted"> (Environment)</small></h3>
    <hr />
    <div id="nytArticles" class="nytArticles">
        <!--nyt articles will be appended here-->
    </div>
    <script src="~/js/nytArticles.js"></script>
</body>

</html>