﻿@model PFD_SaveTheEnvironment.Models.Users

@{
    ViewData["Title"] = "Edit Profile";
}

<br />
<h3 class="text-center">Edit User @Model.UserID's Profile</h3>
<br />
<form asp-action="Edit">
    <input asp-for="UserID" class="form-control" type="hidden" readonly />
    <input asp-for="EmailAddr" class="form-control" type="hidden" readonly />
    <input asp-for="Password" class="form-control" type="hidden" readonly />
    <input asp-for="Score" class="form-control" type="hidden" readonly />
    <input asp-for="Badges" class="form-control" type="hidden" readonly />
    <input asp-for="DateCreated" class="form-control" type="hidden" readonly />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="form-group col-md-6">
                                <div class="form-group row align-items-center">
                                    <label asp-for="EmailAddr"
                                           class="col-sm-3 col-form-label mt-2"><h6>Email:</h6></label>
                                    <div class="col-sm-9 col-md-5">
                                        <input asp-for="EmailAddr" readonly
                                               class="form-control-plaintext" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="form-group col-md-6">
                                <h6>Salutation:</h6>
                                <select asp-for="Salutation"
                                        asp-items="@ViewData["SalutationList"]
                            as List<SelectListItem>"
                                        class="form-control rounded-pill border-3 border-success">
                                </select>
                                <span style="color:red  ;">@TempData["Message"]</span>
                                <span asp-validation-for="Salutation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="form-group col-md-6">
                                <h6>Name:</h6>
                                <input asp-for="UserName" class="form-control rounded-pill border-3 border-success" placeholder="Name" />
                                <span style="color:red  ;">@TempData["Message"]</span>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <input type="submit" value="Save Changes" class="btn btn-success text-white rounded-pill" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<div class="text-center">
    <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="Details" asp-controller="User">Back</a>
</div>
