﻿@{
    ViewData["Title"] = "Challenge";
}

<!DOCTYPE HTML>
<html style="scroll-behavior:smooth">
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <img src="~/images/Challenge(JanFeb).jpg" style="height:100vh; width=70vh" ;class="center">
    <br />

    <div class="bg"></div>
    <div class="container" id="ff-compose"></div>
    <script async defer src="https://formfacade.com/include/107892155845267813349/form/1FAIpQLSc0_rnUuWmKjX68i7-i855BImnG-FzrSkk75M-Dmw3Qode3dg/bootstrap.js?div=ff-compose"></script>

</body>
</html>
