﻿@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
</head>
<body>
    <br />
    <h1 class="font-weight-bold text-center">🌎 PolyEarth 🌎</h1>
    <h5 class="text-center">There's only One Earth, Don't Throw it Away</h5>
    <hr />
    <p class="text-center">An educational website, packed with tons of interactive features to keep users engaged and educate them about the environmental issues caused by large companies around the world.</p>
    <hr />
    <br />
    <div class="iframe-container">
        <iframe width="280" height="157" src="https://www.youtube.com/embed/wbR-5mHI6bo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <small class="text-muted">(Video from Kurzgesagt; https://www.youtube.com/watch?v=wbR-5mHI6bo&t=1s) </small>
    <br />
    <br />
    <hr />
    <br />
    <h3 class="text-center">Learning Materials We Offer</h3>
    <br />
    <p class="text-center">As you have probably heard from various media outlets before, the Earth has been on a bad track for many years now, with daily carbon emissions increasing as developing countries continue to grow. This has led to Global Warming becoming an extremely prevalent issue. On this site, we have provided some reading materials, looking at how companies contribute to this issue and why we should protect the Earth!</p>
    <br />
    <div class="row">
        <div class="course-col">
            <a asp-action="Cars" asp-controller="Read" style="text-decoration:none">
                <h3 class="text-dark">Cars</h3>
                <p class="text-muted">Read more about car companies that are good or bad for the environment and how they impact the environment</p>
            </a>
        </div>
        <div class="course-col">
            <a asp-action="Fashion" asp-controller="Read" style="text-decoration:none">
                <h3 class="text-dark">Fashion</h3>
                <p class="text-muted">Read more about fashion companies that are good or bad for the environment and how they impact the environment</p>
            </a>
        </div>
        <div class="course-col">
            <a asp-action="Energy" asp-controller="Read" style="text-decoration:none">
                <h3 class="text-dark">Energy</h3>
                <p class="text-muted">Read more about sources of energy that are good or bad for the environment and how they impact the environment</p>
            </a>
        </div>
        <div class="course-col">
            <a asp-action="FoodandBeverages" asp-controller="Read" style="text-decoration:none">
                <h3 class="text-dark">F&B</h3>
                <p class="text-muted">Read more about food and beverages companies that are good or bad for the environment and how they impact the environment</p>
            </a>
        </div>
        <div class="course-col">
            <a asp-action="Electronics" asp-controller="Read" style="text-decoration:none">
                <h3 class="text-dark">Electronics</h3>
                <p class="text-muted">Read more about electronic companies that are good or bad for the environment and how they impact the environment</p>
            </a>
        </div>
    </div>
    <hr />
    <section class="footer">
        <h3>About the creators</h3>
        <br />
        This informative website was developed by, Kwek Yufeng Jordan, Kai Lucas Anton, Keane Dominic Travasso, Muhammad Dandarawie Bin Rohani and Loong Chor Yi, to help bring awareness to the declining state of the environment/climate and how certain beloved companies actually contribute to this issue. The website also focuses on user interaction for engagement, as seen by the many games and inputs.
        <br /><br />
        <hr />
        <div class="p-3">
            <h3 class="text-center">Contact Us</h3>
            <form target="_blank" action="https://formsubmit.co/pfdkaigrp@gmail.com" method="POST">
                <br />
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" name="Name" class="form-control" placeholder="Full Name" required>
                        </div>
                        <div class="col">
                            <input type="email" name="Email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="Message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
                <br />
            </form>
        </div>
    </section>
    <section>
        <br />
        <hr />
        <div class="reddit-feed" style="text-align: center;">
            <h1>Reddit Feed</h1>
            <p>Tips on how you can save the environment</p>
            <div id="reddit-post"></div>
        </div>
        <br />
    </section>
    <script src="~/js/reddit.js"></script>
</body>

</html>