﻿@model PFD_SaveTheEnvironment.Models.EventConnect

@{
    ViewData["Title"] = "Cancel";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />

    <style>

        .dark-mode {
            background-color: #202124;
            color: white;
        }

        #theCol-2 {
            margin-right: 19%;
        }

        @@media screen and (max-width: 1199px) {
            #theCol-2 {
                margin-right: 22%;
            }
        }

        @@media screen and (max-width: 991px) {
            #theCol-2 {
                margin-right: 29%;
            }
        }

        @@media screen and (max-width: 767px) {
            #theCol-2 {
                margin-right: 23%;
            }
        }

        @@media screen and (max-width: 296px) {
            #theCol-2 {
                margin-right: 9%;
            }
        }

        @@media screen and (max-width: 281px) {
            #theCol-2 {
                text-align: center;
                align-content: center;
                align-items: center;
            }
        }
    </style>

    <script>
        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</head>
<body>
    <br>
    <div class="row justify-content-start" id="theRow-1">
        <div class="col" id="colTheButton">
            <a href="@Url.Action("HostView")" class="btn btn-warning btn-lg text-left">Back</a>
        </div>
        <div class="col" id="theCol-2">
            <h2 id="theH2">Cancel Event</h2>
        </div>
    </div>
    <br />
    <h1 class="text-center"><pre><u style="color:red;">@TempData["EventCollision"]</u></pre></h1>
    <br />
    <br />

    @if (Model.eventList.Count > 0)
    {
        <div class="table-responsive">
            <table id="viewUserEvent" class="table table-striped table-bordered table-hover table-info">
                <thead class="table-info">
                    <tr style="text-align:center; align-content:center; align-items:center;">
                        <th hidden>EventID</th>
                        <th hidden>UserID</th>
                        <th>EventName</th>
                        <th>Event Location</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>No. Of Participants</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var events in Model.eventList)
                    {
                        string a = Convert.ToString(@TempData["actualUserID"]);

                        int countEvents = 0;


                        @foreach (var eventUsers in Model.eventUsersList)
                        {
                            string c = Convert.ToString(@TempData["actualUserID"]);

                            if (eventUsers.EventID == events.EventID)
                            {
                                countEvents += 1;
                            }
                        }

                        DateTime isNow = DateTime.Now;

                        if (events.UserID == Convert.ToInt32(a) && isNow.AddHours(2) < events.StartDate)
                        {
                            Model.EventID = events.EventID;
                            Model.UserID = events.UserID;
                            Model.EventName = events.EventName;
                            Model.EventLocation = events.EventLocation;
                            Model.StartDate = events.StartDate;
                            Model.EndDate = events.EndDate;

                            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                                <td hidden>@events.EventID.ToString()</td>
                                <td hidden>@events.UserID.ToString()</td>
                                <td>@events.EventName.ToString()</td>
                                <td>@events.EventLocation.ToString()</td>
                                <td>@events.StartDate.ToString()</td>
                                <td>@events.EndDate.ToString()</td>
                                <td>@countEvents.ToString()</td>
                                <td>
                                    <p>   </p>

                                    <form asp-action="CancelEvent" style="text-align:center; align-content:center; align-items:center;">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">

                                            <label asp-for="EventID" class="control-label" style="text-align:center;" hidden></label>
                                            <input asp-for="EventID" class="form-control" hidden />
                                            <span asp-validation-for="EventID" class="text-danger"></span>

                                            <label asp-for="UserID" class="control-label" style="text-align:center;" hidden></label>
                                            <input asp-for="UserID" class="form-control" hidden />

                                            <span asp-validation-for="UserID" class="text-danger"></span>

                                            <label asp-for="EventName" class="control-label" style="text-align:center;" hidden></label>
                                            <input asp-for="EventName" class="form-control" hidden />

                                            <span asp-validation-for="EventName" class="text-danger"></span>

                                            <label asp-for="EventLocation" class="control-label" style="text-align:center;" hidden></label>
                                            <input asp-for="EventLocation" class="form-control" hidden />

                                            <span asp-validation-for="EventLocation" class="text-danger"></span>

                                            <label asp-for="StartDate" class="control-label" style="text-align:center;" hidden></label>
                                            <input asp-for="StartDate" class="form-control" hidden />

                                            <span asp-validation-for="StartDate" class="text-danger"></span>

                                            <label asp-for="EndDate" class="control-label" style="text-align:center;" hidden></label>
                                            <input asp-for="EndDate" class="form-control" hidden />

                                            <span asp-validation-for="EndDate" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Cancel Event" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </td>



                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
    }
    else
    {
        <span style="color:red">No event records found!</span>
    }

</body>

</html>