﻿@model PFD_SaveTheEnvironment.Models.EventConnect

@{
    ViewData["Title"] = "Create Event";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />

    <style>

        .dark-mode {
            background-color: #202124;
            color: white;
        }

        #theCol-2 {
            margin-right: 19%;
        }

        @@media screen and (max-width: 1199px) {
            #theCol-2 {
                margin-right: 22%;
            }
        }

        @@media screen and (max-width: 991px) {
            #theCol-2 {
                margin-right: 29%;
            }
        }

        @@media screen and (max-width: 767px) {
            #theCol-2 {
                margin-right: 23%;
            }
        }

        @@media screen and (max-width: 296px) {
            #theCol-2 {
                margin-right: 9%;
            }
        }

        @@media screen and (max-width: 281px) {
            #theCol-2 {
                text-align: center;
                align-content: center;
                align-items: center;
            }
        }
    </style>

    <script>
        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</head>
<body>
    <br>
    <div class="row justify-content-start" id="theRow-1">
        <div class="col" id="colTheButton">
            <a href="@Url.Action("HostView")" class="btn btn-warning btn-lg text-left">Back</a>
        </div>
        <div class="col" id="theCol-2">
            <h2 id="theH2">Create Event</h2>
        </div>
    </div>
    <br />
    <h1 class="text-center"><pre><u style="color:red;">@TempData["SimilarEvent"]</u></pre></h1>
    <br />
    <div class="row justify-content-center" style="border-radius: 25px; background: #ffef97;">
        <div class="col-md-auto justify-content-center">
            <form asp-action="CreateEvent" style="text-align:center; align-content:center; align-items:center;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <br />
                    <label asp-for="EventName" class="control-label" style="text-align:center; color:black; font-size:125%;"></label>
                    <input asp-for="EventName" class="form-control" size="65" maxlength="100" style="text-align:center; font-size:125%;" />

                    <span asp-validation-for="EventName" class="text-danger"></span>
                    <br />
                    <label asp-for="EventLocation" class="control-label" style="        text-align: center;
        color: black;
        font-size: 125%;"></label>
                    <input asp-for="EventLocation" class="form-control" size="65" maxlength="100" style="text-align:center; font-size:125%;" />

                    <span asp-validation-for="EventLocation" class="text-danger"></span>
                    <br />
                    <label asp-for="StartDate" class="control-label" style="        text-align: center;
        color: black;
        font-size: 125%;"></label>
                    <input asp-for="StartDate" class="form-control" size="65" maxlength="255" style="text-align:center; font-size:125%;" />

                    <span asp-validation-for="StartDate" class="text-danger"></span>
                    <br />
                    <label asp-for="EndDate" class="control-label" style="        text-align: center;
        color: black;
        font-size: 125%;"></label>
                    <input asp-for="EndDate" class="form-control" size="65" maxlength="255" style="text-align:center; font-size:125%;" />

                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <br>
    <h1 class="text-center">FAQ</h1>
    <h2 class="text-center">Exact event name, location and timing not aloud!</h2>
    <h2 class="text-center">Events must occur at least two hours from current time!</h2>
</body>

</html>