﻿@model PFD_SaveTheEnvironment.Models.UserEventViewModel

@{
    ViewData["Title"] = "Connect";

}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />

    <style>

        .dark-mode {
            background-color: #202124;
            color: white;
        }

        .div-1 {
            padding-bottom: 8%;
        }

            .div-1 img {
                border-radius: 3%;
                display: block;
                opacity: 0.5;
                filter: blur(1px);
                -webkit-filter: blur(1px);
            }

                .div-1 img:hover {
                    opacity: 1.0;
                    background: black;
                    box-shadow: 0 0 15px black;
                }

        .thumbnail {
            position: relative;
            display: inline-block;
            margin-right: 2%;
        }

        .thumbnail-1 {
            position: relative;
            display: inline-block;
            margin-left: 2%;
        }

        .caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            text-align: center;
            color: white;
            font-weight: bold;
            border: 3px solid #0c5043;
            opacity: 0.8;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
            padding-top: 3%;
            padding-bottom: 3%;
            padding-left: 3%;
            padding-right: 3%;
        }

            .caption a {
                text-decoration: none;
                color: white;
            }

            .caption:hover a {
                text-decoration: none;
                color: tomato;
            }

        #colTheButton {
            margin-left: 3%;
        }

        @@media screen and (max-width: 1200px) {
            #colTheButton {
                margin-top: 2%;
                margin-left: 18%;
            }

            #theCol-2 {
                margin-right: 10%;
            }

            .thumbnail {
                margin-right: 0%;
            }

            .thumbnail-1 {
                margin-left: 0%;
            }

            .caption h1 {
                font-size: 135%;
            }

            .caption p {
                font-size: 90%;
            }
        }

        @@media screen and (max-width: 1199px) {

            .thumbnail-1 {
                margin-top: 3%;
            }

            .thumbnail img {
                width: 600px;
                height: 450px;
            }

            .thumbnail-1 img {
                width: 600px;
                height: 450px;
            }
        }

        @@media screen and (max-width: 991px) {
            #colTheButton {
                margin-left: 10%;
            }
        }

        @@media screen and (max-width: 770px) {

            .thumbnail img {
                width: 525px;
                height: 350px;
            }

            .thumbnail-1 img {
                width: 525px;
                height: 350px;
            }

            .caption h1 {
                font-size: 97%;
            }
        }

        @@media screen and (max-width: 767px) {

            #colTheButton {
                margin-top: 6%;
            }
        }

        @@media screen and (max-width: 575px) {
            .thumbnail img {
                width: 450px;
                height: 250px;
            }

            .thumbnail-1 img {
                width: 450px;
                height: 250px;
            }

            .caption h1 {
                font-size: 80%;
            }

            .caption p {
                font-size: 70%;
            }
        }

        @@media screen and (max-width: 538px) {
            .thumbnail img {
                width: 425px;
                height: 225px;
            }

            .thumbnail-1 img {
                width: 425px;
                height: 225px;
            }

            #colTheButton {
                margin-top: 5%;
            }
        }

        @@media screen and (max-width: 475px) {
            .thumbnail img {
                width: 375px;
                height: 185px;
            }

            .thumbnail-1 img {
                width: 375px;
                height: 185px;
            }

            .caption h1 {
                font-size: 90%;
            }
        }

        @@media screen and (max-width: 434px) {
            #theCol-2 {
                margin-right: 0%;
            }
        }

        @@media screen and (max-width: 405px) {
            .thumbnail img {
                width: 315px;
                height: 185px;
            }

            .thumbnail-1 img {
                width: 315px;
                height: 185px;
            }

            #theCol-2 h2 {
                font-size: 95%;
            }

            h2#theH2 span {
                font-size: 33px;
            }
        }

        @@media screen and (max-width: 386px) {
            .caption h1 {
                font-size: 75%;
            }

            .caption p {
                font-size: 60%;
            }

            #theRow-1 {
                text-align: center;
            }

            #colTheButton {
                margin-top: 4%;
                margin-left: 0%;
            }
        }

        @@media screen and (max-width: 347px) {
            #colTheButton {
                margin-top: 0%;
            }
        }

        @@media screen and (max-width: 340px) {
            .thumbnail img {
                width: 275px;
                height: 175px;
            }

            .thumbnail-1 img {
                width: 275px;
                height: 175px;
            }

            .caption h1 {
                font-size: 85%;
            }
        }

        @@media screen and (max-width: 305px) {
            .thumbnail img {
                width: 245px;
                height: 165px;
            }

            .thumbnail-1 img {
                width: 245px;
                height: 165px;
            }
        }
    </style>

    <script>
        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>

</head>

<body>
    <br>

    <div class="row justify-content-start" id="theRow-1">
        <div class="col" id="colTheButton">
            <a href="@Url.Action("HostOrVolunteerView")" class="btn btn-warning btn-lg text-left">Back</a>
        </div>
        <div class="col" id="theCol-2">
            <h2 id="theH2">Want to <span style="color:#0c5043; font-size:35px;">create</span> a <span style="color:Tomato; font-size:40px;"><b>Difference?</b></span></h2>
        </div>
    </div>

    <div class="div-1 text-center">
        <br />

        <!--https://stackoverflow.com/questions/43333495/text-over-image-responsive-->

        <div class="thumbnail">
            <a href="@Url.Action("CreateEventView")">
                <img src="@Url.Content("https://localhost:44302/images/CreateEvent2.jpg")" width="500" height="450" /><!--https://www.pexels.com/photo/a-group-of-people-having-a-meeting-in-the-office-7651709/-->
            </a>
            <div class="caption">
                <a href="@Url.Action("CreateEventView")">
                    <h1>Host An Event!</h1>
                    <p>Be the host of an event to bring likeminded individuals in Singapore together!</p>
                </a>
            </div>
        </div>

        <div class="thumbnail-1">
            <a href="@Url.Action("CancelEventView")">
                <img src="@Url.Content("https://localhost:44302/images/CancelEvent.jpg")" width="500" height="450" /><!--https://www.pexels.com/photo/person-holding-a-stress-ball-339620/-->
            </a>
            <div class="caption">
                <a href="@Url.Action("CancelEventView")">
                    <h1>Cancel Event</h1>
                    <p>Insufficient volunteers or something went wrong in the planning phase?</p>
                </a>
            </div>
        </div>
        <br />
    </div>

    <h5 class="text-center"><pre><u style="color:red;">@TempData["EventCollision"]</u></pre></h5>
    @if (Model.eventList.Count > 0)
    {
        <h5>Available Events</h5>
        <br />
        <div class="table-responsive">
            <table id="viewUserEvent" class="table table-striped table-bordered table-hover">
                <caption>Events that are occuring two hours from current time will not be shown.</caption>
                <thead class="bg-primary text-white">
                    <tr style="text-align:center; align-content:center; align-items:center;">
                        <th hidden>EventID</th>
                        <th hidden>UserID</th>
                        <th>EventName</th>
                        <th>Event Location</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>No. Of Participants</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var events in Model.eventList)
                    {
                        bool foundInEventUsers3 = false;
                        int countEvents = 0;


                        @foreach (var eventUsers in Model.eventUsersList)
                        {
                            string c = Convert.ToString(@TempData["actualUserID"]);

                            if (eventUsers.EventID == events.EventID)
                            {
                                countEvents += 1;
                            }
                        }

                        DateTime isNow = DateTime.Now;

                        if (isNow.AddHours(2) < events.StartDate)
                        {
                            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.EventID.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.UserID.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventName.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventLocation.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.StartDate.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.EndDate.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@countEvents.ToString()</td>
                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
    }
    <br />

</body>

</html>
