﻿
@{
    ViewData["Title"] = "HostOrVolunteer";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />

    <style>

        .dark-mode {
            background-color: #202124;
            color: white;
        }

        .div-1 {
            padding-bottom: 8%;
        }

            .div-1 img {
                border-radius: 3%;
                display: block;
                opacity: 0.5;
                filter: blur(1px);
                -webkit-filter: blur(1px);
            }

                .div-1 img:hover {
                    opacity: 1.0;
                    background: black;
                    box-shadow: 0 0 25px black;
                }

        .thumbnail {
            position: relative;
            display: inline-block;
            margin-right: 2%;
        }

        .thumbnail-1 {
            position: relative;
            display: inline-block;
            margin-left: 2%;
        }

        .caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            text-align: center;
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            opacity: 0.8;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
            padding-top: 3%;
            padding-bottom: 3%;
            padding-left: 3%;
            padding-right: 3%;
        }

            .caption h1 {
                text-decoration: none;
            }

            .caption a {
                text-decoration: none;
                color: white;
            }

        @@media screen and (max-width: 1200px) {

            .thumbnail {
                margin-right: 0%;
            }

            .thumbnail-1 {
                margin-left: 0%;
            }
        }

        @@media screen and (max-width: 1199px) {

            .thumbnail-1 {
                margin-top: 3%;
            }

            .thumbnail img {
                width: 600px;
                height: 450px;
            }

            .thumbnail-1 img {
                width: 600px;
                height: 450px;
            }
        }

        @@media screen and (max-width: 770px) {

            .thumbnail img {
                width: 525px;
                height: 350px;
            }

            .thumbnail-1 img {
                width: 525px;
                height: 350px;
            }

            .caption h1 {
                font-size: 97%;
            }
        }

        @@media screen and (max-width: 575px) {
            .thumbnail img {
                width: 450px;
                height: 250px;
            }

            .thumbnail-1 img {
                width: 450px;
                height: 250px;
            }

            .caption h1 {
                font-size: 95%;
            }
        }

        @@media screen and (max-width: 535px) {
            .thumbnail img {
                width: 425px;
                height: 225px;
            }

            .thumbnail-1 img {
                width: 425px;
                height: 225px;
            }
        }

        @@media screen and (max-width: 475px) {
            .thumbnail img {
                width: 375px;
                height: 185px;
            }

            .thumbnail-1 img {
                width: 375px;
                height: 185px;
            }

            .caption h1 {
                font-size: 90%;
            }
        }

        @@media screen and (max-width: 405px) {
            .thumbnail img {
                width: 315px;
                height: 185px;
            }

            .thumbnail-1 img {
                width: 315px;
                height: 185px;
            }
        }

        @@media screen and (max-width: 340px) {
            .thumbnail img {
                width: 275px;
                height: 175px;
            }

            .thumbnail-1 img {
                width: 275px;
                height: 175px;
            }

            .caption h1 {
                font-size: 85%;
            }
        }

        @@media screen and (max-width: 305px) {
            .thumbnail img {
                width: 245px;
                height: 165px;
            }

            .thumbnail-1 img {
                width: 245px;
                height: 165px;
            }
        }
    </style>

    <script>
        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");

            var element2 = document.getElementById('changeToDark');
            element2.classList.toggle("dark-mode");
        }
    </script>

</head>

<body>
    <br>
    <h2 class="text-center"><partial style="color:Tomato; font-size:45px;"><b>You</b></partial> are here as...?</h2>

    <div class="div-1 text-center" id="changeToDark">
        <br />

        <!--https://stackoverflow.com/questions/43333495/text-over-image-responsive-->

        <div class="thumbnail">
            <a href="@Url.Action("HostView")">
                <img src="@Url.Content("https://localhost:44302/images/pexels-kindel-media-7651709.jpg")" width="500" height="625" /><!--https://www.pexels.com/photo/a-group-of-people-having-a-meeting-in-the-office-7651709/-->
            </a>
            <div class="caption">
                <a href="@Url.Action("HostView")">
                    <h1>Event Hoster</h1>
                </a>
            </div>
        </div>

        <div class="thumbnail-1">
            <a href="@Url.Action("Index")">
                <img src="@Url.Content("https://localhost:44302/images/pexels-matthias-zomer-339620.jpg")" width="500" height="625" /><!--https://www.pexels.com/photo/person-holding-a-stress-ball-339620/-->
            </a>
            <div class="caption">
                <a href="@Url.Action("Index")">
                    <h1>Volunteer</h1>
                </a>
            </div>
        </div>
        <br />
    </div>
</body>

</html>
