﻿@model PFD_SaveTheEnvironment.Models.UserEventViewModel

@{
    ViewData["Title"] = "Connect";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />

    <style>

        .dark-mode {
            background-color: #202124;
            color: white;
        }

        #span-1 {
            color: #0c5043;
            font-size: 35px;
        }

        #span-2 {
            color: tomato;
            font-size: 45px;
        }


        @@media screen and (max-width: 424px) {
            #theCol-2 h2 {
                font-size: 95%;
            }

            #span-1 {
                font-size: 25px;
            }

            #span-2 {
                font-size: 35px;
            }

            #theImages {
                width: 200px;
                height: 150px;
            }
        }

        @@media screen and (max-width: 332px) {
            #theRow-1 {
                text-align:center;
            }
        }

        @@media screen and (max-width: 302px) {
            #theCol-2-1 {
                margin-right: 0%;
                margin-left: 15%;
            }
        }

    </style>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("viewUserEvent");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        td = tr[i].getElementsByTagName("td")[3];
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }

        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>

</head>

<body>
    <br>

    <div class="row justify-content-start" id="theRow-1">
        <div class="col" id="colTheButton">
            <a href="@Url.Action("HostOrVolunteerView")" class="btn btn-warning btn-lg text-left">Back</a>
        </div>
        <div class="col" id="theCol-2">
            <h2>Want to <span id="span-1">make</span> a <span id="span-2"><b>Difference?</b></span></h2>
        </div>
    </div>

    <h5 class="text-center"><pre><u style="color:red;">@TempData["EventCollision"]</u></pre></h5>
    @if (Model.eventList.Count > 0)
    {
        <br />

        <div class="row justify-content-start" id="theRow-1">
            <div class="col" id="colTheButton">
                <h5>Available Events</h5>
            </div>
            <div class="align-content-lg-end" style="margin-right:1.5%;" id="theCol-2-1">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for events/location..">
            </div>
        </div>

        <br />
        <div class="table-responsive">
            <table id="viewUserEvent" class="table table-striped table-bordered table-hover">
                <caption>Events that are occuring two hours from current time will not be shown.</caption>
                <thead class="bg-primary text-white">
                    <tr class="header" style="text-align:center; align-content:center; align-items:center;">
                        <th hidden>EventID</th>
                        <th hidden>UserID</th>
                        <th>EventName</th>
                        <th>Event Location</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>No. Of Participants</th>
                        <th>Book</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var events in Model.eventList)
                    {
                        bool foundInEventUsers3 = false;
                        int countEvents = 0;


                        @foreach (var eventUsers in Model.eventUsersList)
                        {
                            string c = Convert.ToString(@TempData["actualUserID"]);

                            if (eventUsers.EventID == events.EventID)
                            {
                                countEvents += 1;
                            }
                        }

                        DateTime isNow = DateTime.Now;

                        if (isNow.AddHours(2) < events.StartDate)
                        {
                            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.EventID.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.UserID.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventName.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventLocation.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.StartDate.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@events.EndDate.ToString()</td>
                                <td style="text-align:center; align-content:center; align-items:center;">@countEvents.ToString()</td>

                                @foreach (var users in Model.userList)
                                {
                                    string d = Convert.ToString(@TempData["actualUserID"]);

                                    if (Convert.ToString(users.UserID) == d)
                                    {


                                        @foreach (var eventUsers2 in Model.eventUsersList)
                                        {
                                            if (Convert.ToString(eventUsers2.UserID) == d && eventUsers2.EventID == events.EventID)
                                            {
                                                foundInEventUsers3 = true;

                                                Model.EventID = events.EventID;
                                                Model.UserID = users.UserID;
                                                <td>
                                                    <p>   </p>

                                                    <form asp-action="CancelIndex" style="text-align:center; align-content:center; align-items:center;">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">

                                                            <label asp-for="EventID" class="control-label" style="text-align:center;" hidden></label>
                                                            <input asp-for="EventID" class="form-control" hidden />
                                                            <span asp-validation-for="EventID" class="text-danger"></span>

                                                            <label asp-for="UserID" class="control-label" style="text-align:center;" hidden></label>
                                                            <input asp-for="UserID" class="form-control" hidden />

                                                            <span asp-validation-for="UserID" class="text-danger"></span>

                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="Cancel" class="btn btn-danger" />
                                                        </div>
                                                    </form>
                                                </td>
                                            }
                                        }

                                        if (foundInEventUsers3 == false)
                                        {
                                            Model.EventID = events.EventID;
                                            Model.UserID = users.UserID;
                                            <td>
                                                <p>   </p>

                                                <form asp-action="Index" style="text-align:center; align-content:center; align-items:center;">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group">

                                                        <label asp-for="EventID" class="control-label" style="text-align:center;" hidden></label>
                                                        <input asp-for="EventID" class="form-control" hidden />
                                                        <span asp-validation-for="EventID" class="text-danger"></span>

                                                        <label asp-for="UserID" class="control-label" style="text-align:center;" hidden></label>
                                                        <input asp-for="UserID" class="form-control" hidden />

                                                        <span asp-validation-for="UserID" class="text-danger"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Join Event" class="btn btn-success" />
                                                    </div>
                                                </form>
                                            </td>

                                        }
                                    }

                                }



                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
        <br />
        <h5>Events Joined</h5>
        <br />
        <div class="table-responsive">
            <table id="viewUserEvent" class="table table-striped table-bordered table-hover">
                <caption>Users are not able to join events occuring around the same time.</caption>
                <thead class="bg-primary text-white">
                    <tr style="text-align:center; align-content:center; align-items:center;">
                        <th hidden>EventID</th>
                        <th hidden>UserID</th>
                        <th>EventName</th>
                        <th>Event Location</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>No. Of Participants</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var events in Model.eventList)
                    {
                        bool foundInEventUsers3 = false;
                        int countEvents = 0;


                        @foreach (var eventUsers in Model.eventUsersList)
                        {
                            string c = Convert.ToString(@TempData["actualUserID"]);

                            if (eventUsers.EventID == events.EventID)
                            {
                                countEvents += 1;
                            }
                        }

                        DateTime isNow = DateTime.Now;

                        if (isNow < events.EndDate)
                        {

                            @foreach (var users in Model.userList)
                            {
                                string d = Convert.ToString(@TempData["actualUserID"]);

                                if (Convert.ToString(users.UserID) == d)
                                {


                                    @foreach (var eventUsers2 in Model.eventUsersList)
                                    {
                                        if (Convert.ToString(eventUsers2.UserID) == d && eventUsers2.EventID == events.EventID)
                                        {
                                            foundInEventUsers3 = true;

                                            Model.EventID = events.EventID;
                                            Model.UserID = users.UserID;
                                            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.EventID.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.UserID.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventName.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventLocation.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.StartDate.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EndDate.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@countEvents.ToString()</td>
                                            </tr>
                                        }
                                    }
                                }

                            }




                        }
                    }



                </tbody>
            </table>
        </div>
    }
    else
    {
        <span style="color:red">No event records found!</span>
    }
    <br />
    <form asp-action="JoinedEventsView" style="text-align:center; align-content:center; align-items:center;">
        <button type="submit" class="btn btn-primary">Participated Event History</button>
    </form>
    <br />
    <hr />
    <h3>Volunteer in Singapore!</h3>
    <hr />

    <partial name="~/Views/Read/_OrganizationText.cshtml" />

</body>

            </html>
