﻿@model PFD_SaveTheEnvironment.Models.UserEventViewModel

@{
    ViewData["Title"] = "Connect";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />

    <style>
        .dark-mode {
            background-color: #202124;
            color: white;
        }
    </style>

    <script>
        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</head>
<body>
    <br />
    <h3 class="text-center">Volunteering History</h3>
    <hr />
    <h5 class="text-center"><pre><u style="color:red;">@TempData["EventCollision"]</u></pre></h5>
    @if (Model.eventList.Count > 0)
    {
        <h5 class="">Current Events</h5>
        <br/>
        <div class="table-responsive">
            <table id="viewUserEvent" class="table table-striped table-bordered table-hover">
                <caption>Users are not able to join events occuring around the same time.</caption>
                <thead class="bg-primary text-white">
                    <tr style="text-align:center; align-content:center; align-items:center;">
                        <th hidden>EventID</th>
                        <th hidden>UserID</th>
                        <th>EventName</th>
                        <th>Event Location</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>No. Of Participants</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var events in Model.eventList)
                    {
                        bool foundInEventUsers3 = false;
                        int countEvents = 0;


                        @foreach (var eventUsers in Model.eventUsersList)
                        {
                            string c = Convert.ToString(@TempData["actualUserID"]);

                            if (eventUsers.EventID == events.EventID)
                            {
                                countEvents += 1;
                            }
                        }

                        DateTime isNow = DateTime.Now;

                        if (isNow < events.EndDate)
                        {

                            @foreach (var users in Model.userList)
                            {
                                string d = Convert.ToString(@TempData["actualUserID"]);

                                if (Convert.ToString(users.UserID) == d)
                                {


                                    @foreach (var eventUsers2 in Model.eventUsersList)
                                    {
                                        if (Convert.ToString(eventUsers2.UserID) == d && eventUsers2.EventID == events.EventID)
                                        {
                                            foundInEventUsers3 = true;

                                            Model.EventID = events.EventID;
                                            Model.UserID = users.UserID;
                                            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.EventID.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.UserID.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventName.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventLocation.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.StartDate.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EndDate.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@countEvents.ToString()</td>
                                            </tr>
                                        }
                                    }
                                }

                            }




                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <h5 class="">Events History</h5>
        <br/>
        <div class="table-responsive">
            <table id="viewUserEvent" class="table table-striped table-bordered table-hover">
                <caption>Events that you have participated in previously.</caption>
                <thead class="bg-primary text-white">
                    <tr style="text-align:center; align-content:center; align-items:center;">
                        <th hidden>EventID</th>
                        <th hidden>UserID</th>
                        <th>EventName</th>
                        <th>Event Location</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>No. Of Participants</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var events in Model.eventList)
                    {
                        bool foundInEventUsers3 = false;
                        int countEvents = 0;


                        @foreach (var eventUsers in Model.eventUsersList)
                        {
                            string c = Convert.ToString(@TempData["actualUserID"]);

                            if (eventUsers.EventID == events.EventID)
                            {
                                countEvents += 1;
                            }
                        }

                        DateTime isNow = DateTime.Now;

                        if (isNow > events.EndDate)
                        {

                            @foreach (var users in Model.userList)
                            {
                                string d = Convert.ToString(@TempData["actualUserID"]);

                                if (Convert.ToString(users.UserID) == d)
                                {


                                    @foreach (var eventUsers2 in Model.eventUsersList)
                                    {
                                        if (Convert.ToString(eventUsers2.UserID) == d && eventUsers2.EventID == events.EventID)
                                        {
                                            foundInEventUsers3 = true;

                                            Model.EventID = events.EventID;
                                            Model.UserID = users.UserID;
                                            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.EventID.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;" hidden>@events.UserID.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventName.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EventLocation.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.StartDate.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@events.EndDate.ToString()</td>
                                                <td style="text-align:center; align-content:center; align-items:center;">@countEvents.ToString()</td>
                                            </tr>
                                        }
                                    }
                                }

                            }




                        }
                    }



                </tbody>
            </table>
        </div>
    }
    else
    {
        <span style="color:red">No event records found!</span>
    }
    <br />
    <br />
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="back()">Back</button>
    </div>
    <script>
        function back() {
            window.history.back();
        }

        function connectDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</body>

</html>