﻿* {
    margin: 0;
    padding: 0;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nytArticles a {
    display: block;
    color: #333;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: large;
}

.nytArticles p {
    margin-bottom: 32px;
}

.nytArticles img {
    margin-bottom: 20px;
}

.content img {
    margin-left: 5%;
}

.organizationBox p {
    padding-left: 0;
    margin-left: 0;
}

.eventButtons {
    margin-bottom: 2%;
}

.formContainer {
    padding-top: 50%;
}

body.dark-theme {
    background-color: #202124;
    color: rgb(255 255 255 / 0.80);
}
