﻿* {
    margin: 0;
    padding: 0;
}

body.dark-theme {
    background-color: #202124;
    color: rgb(255 255 255 / 0.85);
}

.bg-success {
    background-color: #28a745 !important;
}
body.dark-theme .bg-success {
    background-color: #0c4a1a !important;
}

.nav-link {
    cursor: pointer;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0,7)),url('https://localhost:44302/images/savetheearthimage.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

 .iframe-container {
     position:relative;
     width:100%;
     padding-bottom:56.25%;
     height:0;
}

 .iframe-container iframe {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nytArticles a {
    display: block;
    color: #333;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: large;
}

.nytArticles p {
    margin-bottom: 32px;
}

.nytArticles img {
    margin-bottom: 20px;
}

.content img {
    margin-left:5%;
}

.organizationBox p{
    padding-left:0;
    margin-left:0;
}

.eventButtons{
    margin-bottom:2%;
}

.formContainer{
    padding-top:50%;
}

.div-1 {
    background-color: #FBD603;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 35px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background:#f44336;
    transition: 1s;
}

/*----Introduction----*/

.introduction{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.introduction h1{
    font-size: 36px;
    font-weight: 600;
}

.introduction p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 22%;
    background: #C1E1C1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.row{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*----Reddit----*/
.reddit-feed {
    height: calc(100vh - 100%);
    color: black;
    background-color: antiquewhite;
}

    .reddit-feed h1 {
        padding-top: 4%;
    }

#reddit-post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 5%;
    border-top: solid;
}

/*----Footer----*/
.footer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

    .footer h1 {
        font-size: 36px;
        font-weight: 600;
    }

    .footer p {
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }


@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}

.nopadding {
    padding: 15px 0px;
}